* {
  box-sizing: border-box;
  padding: 0px !important;
  margin: 0px !important;
}

body {
  padding: 0px !important;
  margin: 0px !important;
  background-color: #fff;
  min-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  font-family: "Cairo", sans-serif !important;
  display: grid;
  align-items: center;
  justify-content: stretch;
  align-content: space-between;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}

main::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("/images/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right, rgba(18, 154, 236, .5), rgba(10, 87, 134, 0.5));
  width: 100%;
  height: 100%;
  z-index: -2;
}


/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4361EE;
  padding: 12px 80px !important;
  gap: 10px;
}

header img {
  width: 60px;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

header nav ul li {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all ease-in-out .3s;
}

header nav ul li:hover {
  transform: translateY(-2px);
}

@media (max-width:1200px) {
  header {
    padding: 10px 70px !important;
    gap: 8px;
  }

  header img {
    width: 50px;
  }

  header nav ul {
    gap: 36px;
  }

  header nav ul li {
    font-size: 18px;
  }

}

@media (max-width:992px) {
  header {
    padding: 8px 60px !important;
    gap: 6px;
  }

  header img {
    width: 40px;
  }

  header nav ul {
    gap: 32px;
  }

  header nav ul li {
    font-size: 16px;
  }
}

@media (max-width:768px) {
  header {
    padding: 6px 20px !important;
    gap: 4px;
  }

  header img {
    width: 35px;
  }

  header nav ul {
    gap: 10px;
  }

  header nav ul li {
    font-size: 12px;
  }
}

/* Header */


/* Lang Switch */
.lang_switch {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  gap: 5px !important;
  position: relative;
}

.lang_switch select {
  outline: none;
  border: none;
  font-size: 18px;
  font-family: "Cairo", sans-serif !important;
}

.lang_switch .select {
  position: relative;
  padding: 6px !important;
}

.lang_switch .select:not(:last-child)::before {
  content: "";
  position: absolute;
  background-color: #4361EE !important;
  height: 100%;
  width: 2px;
  top: 0;
  left: 0;
}

.lang_switch .select label {
  display: none;
}

@media (max-width:1200px) {
  .lang_switch {
    border-radius: 26px;
    gap: 4px !important;
  }

  .lang_switch select {
    font-size: 16px;
  }

  .lang_switch .select {
    padding: 5px !important;
  }

  .lang_switch .select:not(:last-child)::before {
    width: 1.5px;
  }
}

@media (max-width:992px) {
  .lang_switch {
    border-radius: 24px;
    gap: 3px !important;
  }

  .lang_switch select {
    font-size: 14px;
  }

  .lang_switch .select {
    padding: 4px !important;
  }

  .lang_switch .select:not(:last-child)::before {
    width: 1px;
  }
}

@media (max-width:768px) {
  .lang_switch {
    display: none;
    border-radius: 20px;
    gap: 2px !important;
  }

  .lang_switch select {
    font-size: 12px;
  }

  .lang_switch .select {
    padding: 2px !important;
  }
}

/* Lang Switch */

/* Carousel */

.carousel {
  width: 100%;
  max-width: calc(100vw - 160px);
  margin: auto !important;
  padding: 40px !important;
}

.carousel img {
  object-fit: cover;
  width: 100%;
}

.carousel button {
  background-color: rgba(255, 255, 255, 0.4);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  color: #fff;
}

.carousel button.slick-prev {
  right: -60px;
}

.carousel button.slick-next {
  left: -60px;
}

@media (max-width:1200px) {
  .carousel {
    max-width: calc(100vw - 140px);
    padding: 35px !important;
  }

  .carousel button {
    width: 45px;
    height: 45px;
  }

  .carousel button.slick-prev {
    right: -55px;
  }

  .carousel button.slick-next {
    left: -55px;
  }

}

@media (max-width:992px) {
  .carousel {
    max-width: calc(100vw - 120px);
    padding: 30px !important;
  }

  .carousel button {
    width: 40px;
    height: 40px;
  }

  .carousel button.slick-prev {
    right: -50px;
  }

  .carousel button.slick-next {
    left: -50px;
  }

}

@media (max-width:768px) {
  .carousel {
    max-width: calc(100vw - 100px);
    padding: 30px !important;
  }

  .carousel button {
    width: 35px;
    height: 35px;
  }

  .carousel button.slick-prev {
    right: -45px;
  }

  .carousel button.slick-next {
    left: -45px;
  }
}

/* Carousel */


/* Trip Search */
.trip_search_container {
  padding: 40px 80px !important;
}

.trip_search {
  display: grid;
  justify-content: stretch;
  align-items: center;
  align-content: center;
  align-self: center;
  gap: 30px;
  padding: 140px 20px !important;
  border: 4px solid #72C3EC;
  border-radius: 20px;
  box-shadow: #999 2px 2px 2px;
  background-image: url("/images/bg_small.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.trip_search .tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.trip_search .tabs .tab {
  background-color: #fff !important;
  outline: none;
  border: none;
  padding: 12px 24px !important;
  color: #000;
  opacity: 0.75;
  font-size: 18px;
  border-radius: 6px 6px 0px 0px;
  font-family: "Cairo", sans-serif !important;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.trip_search .tabs .tab.active {
  opacity: 1;
}

@media (max-width:1200px) {
  .trip_search_container {
    padding: 30px 70px !important;
  }

  .trip_search {
    gap: 28px;
    padding: 100px 20px !important;
    border: 3px solid #72C3EC;
    border-radius: 18px;
  }

  .trip_search .tabs {
    gap: 18px;
  }

  .trip_search .tabs .tab {
    padding: 10px 22px !important;
    font-size: 16px;
    border-radius: 5px 5px 0px 0px;
  }
}

@media (max-width:992px) {
  .trip_search_container {
    padding: 25px 60px !important;
  }

  .trip_search {
    gap: 26px;
    padding: 80px 16px !important;
    border: 2px solid #72C3EC;
    border-radius: 16px;
  }

  .trip_search .tabs {
    gap: 16px;
  }

  .trip_search .tabs .tab {
    padding: 8px 20px !important;
    font-size: 14px;
    border-radius: 4px 4px 0px 0px;
  }
}

@media (max-width:768px) {
  .trip_search_container {
    padding: 20px !important;
  }

  .trip_search {
    gap: 24px;
    padding: 70px 14px !important;
    border-radius: 14px;
  }

  .trip_search .tabs {
    gap: 14px;
  }

  .trip_search .tabs .tab {
    padding: 6px 18px !important;
    font-size: 12px;
    border-radius: 3px 3px 0px 0px;
  }
}

/* Trip Search */

/* Search */
.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.search .transfer {
  display: grid;
  align-items: center;
  justify-content: stretch;
  position: relative;
  gap: 10px;
}

.search .transfer .button {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a9d3fb;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.search .transfer .button button {
  z-index: 10;
  background-color: #F88518;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.search .transfer .button button:hover {
  background-color: #a9d3fb;
}

.search .transfer .transfer_card {
  background-color: #F1F5F9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  color: #000;
  border-radius: 14px;
  padding: 8px 20px !important;
  font-size: 20px;
  width: 100%;
}

.search .transfer .transfer_card svg {
  font-size: 25px;
}

.search .transfer .transfer_card .country {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: #000;
}

.search .transfer .transfer_card .country .info {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.search .transfer .transfer_card .country .info h6 {
  font-size: 18px;
}

.search .transfer .transfer_card .country .info h6:first-child {
  color: #999999;
}

.search .transfer .transfer_card .country .info h6:last-child {
  color: #000;
}

.search .transfer .transfer_card .flight {
  transform: rotateY(180deg);
}

.search .calendars {
  background-color: #999999;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 2px;
}

.search>.search_btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.search>.search_btn button {
  background-color: #F88518;
  color: #F1F5F9;
  text-align: center;
  font-size: 24px;
  padding: 10px 40px !important;
  border: none;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.search>.search_btn button:hover {
  background-color: transparent;
  color: #F88518;
}

.search .selects {
  background-color: #999999;
  border-radius: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 2px;
  overflow: hidden;
  height: 100%;
}

.search .selects .select label {
  display: none;
}

.search .selects .select {
  background-color: #F1F5F9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px !important;
  height: 100%;
}

.search .selects .select select {
  font-family: "Cairo", sans-serif !important;
  background-color: #F1F5F9;
  min-width: 150px;
  font-size: 18px;
  outline: none;
  border: none;
}

.search .selects .select svg {
  font-size: 24px;
  color: #000;
}


@media (max-width:1200px) {
  .search {
    gap: 12px;
  }

  .search .transfer {
    gap: 8px;
  }

  .search .transfer .button {
    width: 65px;
    height: 65px;
  }

  .search .transfer .button button {
    width: 45px;
    height: 45px;
    font-size: 22px;
  }

  .search .transfer .transfer_card {
    gap: 70px;
    border-radius: 12px;
    padding: 6px 18px !important;
    font-size: 18px;
  }

  .search .transfer .transfer_card svg {
    font-size: 23px;
  }

  .search .transfer .transfer_card .country {
    gap: 8px;
  }

  .search .transfer .transfer_card .country .info {
    gap: 8px;
  }

  .search .transfer .transfer_card .country .info h6 {
    font-size: 17px;
  }

  .search .calendars {
    border-radius: 16px;
  }

  .search>button {
    font-size: 22px;
    border-radius: 8px;
  }

  .search .selects {
    border-radius: 18px;
    gap: 2px;
  }

  .search .selects .select {
    gap: 8px;
    padding: 10px !important;
  }

  .search .selects .select select {
    min-width: 120px;
    font-size: 17px;
  }

  .search .selects .select svg {
    font-size: 22px;
  }
}

@media (max-width:992px) {
  .search {
    gap: 10px;
  }

  .search .transfer {
    gap: 6px;
  }

  .search .transfer .button {
    width: 60px;
    height: 60px;
  }

  .search .transfer .button button {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .search .transfer .transfer_card {
    gap: 60px;
    border-radius: 10px;
    padding: 4px 16px !important;
    font-size: 16px;
  }

  .search .transfer .transfer_card svg {
    font-size: 20px;
  }

  .search .transfer .transfer_card .country {
    gap: 6px;
  }

  .search .transfer .transfer_card .country .info {
    gap: 6px;
  }

  .search .transfer .transfer_card .country .info h6 {
    font-size: 16px;
  }

  .search .calendars {
    border-radius: 14px;
  }

  .search>button {
    font-size: 20px;
    border-radius: 6px;
  }

  .search .selects {
    border-radius: 16px;
  }

  .search .selects .select {
    gap: 6px;
    padding: 8px !important;
  }

  .search .selects .select select {
    min-width: 100px;
    font-size: 16px;
  }

  .search .selects .select svg {
    font-size: 20px;
  }
}

@media (max-width:768px) {
  .search {
    gap: 8px;
  }

  .search .transfer {
    gap: 5px;
  }

  .search .transfer .button {
    width: 50px;
    height: 50px;
  }

  .search .transfer .button button {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }

  .search .transfer .transfer_card {
    gap: 50px;
    border-radius: 8px;
    padding: 3px 14px !important;
    font-size: 14px;
  }

  .search .transfer .transfer_card svg {
    font-size: 18px;
  }

  .search .transfer .transfer_card .country {
    gap: 5px;
  }

  .search .transfer .transfer_card .country .info {
    gap: 5px;
  }

  .search .transfer .transfer_card .country .info h6 {
    font-size: 14px;
  }

  .search .calendars {
    border-radius: 12px;
  }

  .search>button {
    font-size: 18px;
    border-radius: 5px;
  }

  .search .selects {
    border-radius: 14px;
  }

  .search .selects .select {
    gap: 5px;
    padding: 6px !important;
  }

  .search .selects .select select {
    min-width: 80px;
    font-size: 14px;
  }

  .search .selects .select svg {
    font-size: 18px;
  }
}

/* Search */

/* Calendar */
.calendar {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 8px;
  background-color: #F1F5F9;
  padding: 10px 50px !important;
}

.calendar h5 {
  font-size: 20px;
  color: #333333;
  font-weight: 600;
  text-align: center;
}

.calendar h4 {
  width: 80px;
  height: 80px;
  border: 2px solid #999999;
  color: #333333;
  border-radius: 10px;
  padding: 10px;
  font-size: 26px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:1200px) {
  .calendar {
    gap: 7px;
    padding: 8px 40px !important;
  }

  .calendar h5 {
    font-size: 18px;
  }

  .calendar h4 {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    padding: 8px;
    font-size: 24px;
  }
}

@media (max-width:992px) {
  .calendar {
    gap: 6px;
    padding: 6px 35px !important;
  }

  .calendar h5 {
    font-size: 16px;
  }

  .calendar h4 {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    padding: 6px;
    font-size: 22px;
  }
}

@media (max-width:768px) {
  .calendar {
    gap: 5px;
    padding: 5px 30px !important;
  }

  .calendar h5 {
    font-size: 14px;
  }

  .calendar h4 {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
  }
}

/* Calendar */

/* Footer */
footer {
  display: grid;
  align-items: center;
  justify-content: space-between;
  background-color: #4361EE;
  padding: 60px 80px !important;
  gap: 30px;
  color: #fff;
}

footer .top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 30px;
}

footer .top img {
  width: 80px;
}

footer .middle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

footer .middle .links {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer .middle h6 {
  font-size: 22px;
  font-weight: 600;
}

footer .middle ul {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

footer .middle ul li {
  font-size: 20px;
}

footer .middle ul.links {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

footer .middle ul li a {
  color: #fff !important;
  transition: ease-in-out all .3s;
  transform: translateX(10px);
}

footer .middle .links.contact_us ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

footer .middle .links.contact_us ul li:nth-child(2) span {
  direction: ltr;
}

footer .bottom {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #fff;
}

footer .bottom .social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 22px;
}

footer .bottom .social a {
  color: #fff !important;
}

footer .bottom h6 {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width:1200px) {
  footer {
    padding: 50px 70px !important;
    gap: 28px;
  }

  footer .top {
    gap: 8px;
    font-size: 28px;
  }

  footer .top img {
    width: 70px;
  }

  footer .middle {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }

  footer .middle .links {
    gap: 18px;
  }

  footer .middle h6 {
    font-size: 20px;
  }

  footer .middle ul {
    gap: 8px;
  }

  footer .middle ul li {
    font-size: 18px;
  }

  footer .middle ul.links {
    gap: 8px;
  }

  footer .middle .links.contact_us ul li {
    gap: 13px;
  }

  footer .bottom {
    gap: 4px;
  }

  footer .bottom .social {
    gap: 18px;
    font-size: 20px;
  }

  footer .bottom h6 {
    font-size: 16px;
  }
}

@media (max-width:992px) {
  footer {
    padding: 40px 60px !important;
    gap: 26px;
  }

  footer .top {
    gap: 6px;
    font-size: 26px;
  }

  footer .top img {
    width: 60px;
  }

  footer .middle {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  footer .middle .links {
    gap: 16px;
  }

  footer .middle h6 {
    font-size: 16px;
  }

  footer .middle ul {
    gap: 6px;
  }

  footer .middle ul li {
    font-size: 16px;
  }

  footer .middle ul.links {
    gap: 6px;
  }

  footer .middle .links.contact_us ul li {
    gap: 11px;
  }

  footer .bottom {
    gap: 3px;
  }

  footer .bottom .social {
    gap: 16px;
    font-size: 18px;
  }

  footer .bottom h6 {
    font-size: 14px;
  }
}

@media (max-width:768px) {
  footer {
    padding: 30px 20px !important;
    gap: 20px;
  }

  footer .top {
    gap: 5px;
    font-size: 24px;
  }

  footer .top img {
    width: 50px;
  }

  footer .middle {
    grid-template-columns: repeat(1, 1fr);
    gap: 14px;
  }

  footer .middle .links {
    gap: 10px;
    justify-content: stretch;
  }

  footer .middle h6 {
    font-size: 14px;
  }

  footer .middle ul {
    gap: 5px;
  }

  footer .middle ul li {
    font-size: 14px;
  }

  footer .middle ul.links {
    gap: 5px;
  }

  footer .middle .links.contact_us ul li {
    gap: 10px;
  }

  footer .bottom {
    gap: 2px;
  }

  footer .bottom .social {
    gap: 14px;
    font-size: 16px;
  }

  footer .bottom h6 {
    font-size: 12px;
  }
}

/* Footer */


/* Helpers */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

button {
  outline: none;
}

/* Helpers */